REDIS_HOST=
REDIS_PORT=10000
REDIS_PASSWORD=

# For Azure Managed Redis, enable TLS
REDIS_TLS=true

# TTL cho cache yêu thích (giây) - mặc định 600s nếu không đặt
REDIS_FAVORITE_TTL=600

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=